/* Tags */
hr {
	margin-top: 5px;
}

/* IDs */
#divPasswordReset {
	width: 400px;
	height: 175px;
	
	margin: 100px auto;
	padding: 10px;

	-webkit-box-shadow: 0 0 20px 2px #888888;
	-moz-box-shadow: 0 0 20px 2px #888888;
	box-shadow: 0 0 20px 2px #888888;
}

#divHeadline {
	width: 100%;
	height: 30px;
	
	text-align:center;	
	font-size: 30px;
	font-weight: bold;
}

#divContent {
	width: 100%;
	height: 140px;
}

#divContent > form > .divCenter, #divContent > form > #divHint {
	width: 300px;
	margin: auto;
}

#txtUsername, #txtUsermail {
	margin-top: 5px;
	width: 298px;
	height: 27px;
	
	font-size: 20px;
}

#txtUsername {
	margin-top: 5px;	
}

#txtPassword {
	margin-top: 5px;
}

#btnSubmit {
	width: 300px;	
	height: 30px;
		
	background-color: #4489EA;
	margin-top: 5px;
	
	font-size: 20px;
	color: #FFF;
	
	border: none; 
}

#divOr {
	margin-top: 5px;
	text-align: center;
}