#header {
	width: 100%; 
	min-width: 750px; 
	height: 35px; 
	background-color: #987;
	padding: 5px;
}

#calendarBox {
	width: 100%; 
	min-width: 750px; 
	heigth: 750px; 
	min-height: 500px;
}

#userControls {
	width: 200px; 
	height: 100%; 
	background-color: #123; 
	float: left;
	padding: 5px;
}

#divNewEvent {
	margin-top: 10px;
}

#btnNewEvent {
	width: 168px;
	height: 35px;
	margin-top: 2.5px;
	margin-left: 15px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#divArrows {
	margin-top: 10px;
	float: right;
}

#btnLastWeek, #btnNextWeek {
	width: 35px;
	height: 25px;
	margin-top: 2.5px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#divSearchBox {
	clear: both;
}

#txtSearchBox {
	background: #ffffff;
	width: 200px;
	height: 25px;
	margin-top: 2.5px;
	margin-right: 15px;
	font-size: 15px;
	border-radius: 5px;
	border: 0px solid #CECEDE;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#calendar {
	background-color: #aaa; 
	width: auto; 
	height: 100%; 
	overflow: hidden; 
	padding: 10px;
}

table, th, td {
	border: 1px solid #dfe;
}

td {
	font-size: 10px;
	text-align: right;
}