body {
	overflow: scroll;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #333;
	position: fixed;
}

#info {
	width: 200px;
	height: 100%;
	background-color: #555;
	position: fixed;
	top: 50px;
}

#calendar {
	width: 1050px;
	height: 600px;
	position: fixed;
	top: 50px;
	left: 200px;
	overflow: scroll;
}

#calendarHead {
	width: 100%;
	height: 30px;
	background-color: #cdefbb;
	display: -webkit-box;
	/* iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* Firefox 19- */
	display: -ms-flexbox;
	/* IE 10 */
	display: -webkit-flex;
	/* Chrome */
	display: flex;
	/* Opera 12.1, Firefox 20+ */
	/* iOS 6-, Safari 3.1-6 */
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	/* Firefox 19- */
	-moz-flex-flow: row wrap;
	-moz-justify-content: space-between;
	/* Chrome */
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	/* IE10 */
	-ms-flex-flow: row wrap;
	-ms-justify-content: space-between;
	/* Opera 12.1, Firefox 20+ */
	flex-flow: row wrap;
	justify-content: space-between;
}

#btnNewEvent {
	width: 168px;
	height: 25px;
	margin-top: 2.5px;
	margin-left: 15px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#btnLastWeek, #btnNextWeek {
	width: 35px;
	height: 25px;
	margin-top: 2.5px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#txtSearchBox {
	background: #ffffff;
	width: 250px;
	height: 25px;
	margin-top: 2.5px;
	margin-right: 15px;
	font-size: 15px;
	border-radius: 5px;
	border: 0px solid #CECEDE;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#calendarBody {
	height: 550px;
	width: 100%;
	background-color: #abcdef;
}