#header {
	width: 100%;
	min-width: 750px;
	height: 35px;
}

#btnLogout {
	float: right;
}

#calendarBox {
	width: 100%;
	min-width: 750px;
	heigth: 750px;
	min-height: 500px;
}

#userControls {
	width: 200px;
	height: 100%;
	float: left;
	padding: 5px;
}

#divNewEvent {
	margin-top: 10px;
}

#btnNewEvent {
	width: 168px;
	height: 35px;
	margin-top: 2.5px;
	margin-left: 15px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#divArrows {
	margin-top: 10px;
	float: right;
}

#btnLastWeek, #btnNextWeek {
	width: 35px;
	height: 25px;
	margin-top: 2.5px;
	background-color: #4141C6;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#divSearchBox {
	clear: both;
}

#txtSearchBox {
	background: #ffffff;
	width: 200px;
	height: 25px;
	margin-top: 2.5px;
	margin-right: 15px;
	font-size: 15px;
	border-radius: 5px;
	border: 0px solid #CECEDE;
	-webkit-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	-moz-box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
	box-shadow: inset 0px 0px 23px -1px rgba(124, 124, 128, 0.38);
}

#calendar {
	width: auto;
	height: 100%;
	overflow: hidden;
	padding: 10px;
	position: relative;
}

td {
	font-size: 10px;
	text-align: right;
}

#tabCalendar {
	width: 100%;
	border-spacing: 0;
	border-top: 1px solid #f33;
	border-left: 1px solid #f33;
	border-bottom: 1px solid #f33;
}

#tdTime {
	width: 2%;
	border-right: 1px solid #f33;
}

.claHead {
	width: 14%;
	border-right: 1px solid #f33;
}

#trAllDay {
	height: 45px;
}

.claAllDay {
	border-bottom: 1px solid #f33;
	border-right: 1px solid #f33;
	border-top: 1px solid #f33;
}

.claTimeFrame {
	height: 14px;
}

.claTimeColumn {
	padding-right: 2px;
}

.claFullHour {
	border-top: 1px solid #f33;
	border-right: 1px solid #f33;
}

.claHalfHour {
	border-top: 1px dotted #f33;
	border-right: 1px solid #f33;
}

.claEvent {
	width: 13%;
	background-color: #00ffff;
	position: absolute;
	box-sizing: border-box;
	-webkit-box-sizing: b order-box;
	-moz-box-sizing: border-box;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	/* top: 150px;
	height: 150px;
	 left: 35px; */
}