/**
 * @author Lucas Engel
 * 
 *         Stylesheet für den Loginbereich.
 *
 */
 
#divLogin {
	width: 400px;
	height: 200px;
}

#divContent {
	width: 100%;
	height: 215px;
}

#txtUsername, #txtPassword {
	width: 348px;
	height: 35px;
	
	font-size: 20px;
	text-align: center;
}

#btnSubmit, #btnRegister {
	width: 168px;	
	height: 40px;
	font-size: 20px;
}

#btnRegister{
	margin-left: 7px;
}

#divLinks {
	text-align: right;	
	font-size: 12px;
}

#divHint {
	width: 380px;
	margin: 15px auto;
	
	text-align: center;
	
	color: #F00;
}