#divLogin {
	width: 400px;
	height: 250px;
}

#divContent {
	width: 100%;
	height: 215px;
	margin-top: 10px;
}

#divContent > form > .divCenter {
	width: 350px;
	margin: auto;
}

#txtUsername, #txtPassword {
	width: 348px;
	height: 35px;
	
	font-size: 20px;
	text-align: center;
}

#txtPassword {
	margin-top: 10px;
}

#btnSubmit, #btnRegister {
	width: 168px;	
	height: 40px;
	margin-top: 15px;
	font-size: 20px;
}

#btnRegister{
	margin-left: 7px;
}

#divLinks {
	text-align: right;	
	font-size: 12px;
}

#divHint {
	width: 380px;
	margin: auto;
	
	text-align: center;
	
	color: #F00;
}