#divRegistration {
	width: 400px;
	height: 450px;
}

#divHeadline {
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#divContent {
	margin-top: 5px;
}

#divContent > form > .divCenter {
	width: 300px;
	margin: auto;
}

.claButtons {
	width: 145px;
	height: 30px;
}

#btnReset {
	float: right;
}

.claEnabledButton {
	background-color: #4141C6;
}

#divContent > form > #divHint {
	margin-top: 50px;
	font-size: 10px;
	color: #F00;
	text-align: center;
}